@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.alert-content {
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #A1A4BD;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.08);
  border-radius: 10px 10px 10px 10px;
  .block {
    padding: 2.5rem;
  }
  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    color: #000000;
  }
  .subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: .875rem;
    color: #000000;
  }
  .time {
    font-size: .875rem;
    line-height: 140%;
    color: #A1A4BD;
  }
}
