@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.header {
  height: 15vh;
  padding-top: 1rem;
  font-family: 'Montserrat', sans-serif;
  .navbar-brand {
    color: #3E53FF;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
  }
  .header-search {
    width: 23.5rem;
    height: 3rem;
    border: none;
    background: #F2F3F5;
    border-radius: 33px;
    box-sizing: border-box;
    font-size: 16px;
    background-image: url('../../../assets/header-search.png');
    background-size: 1rem;
    background-position: 1rem 50%;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  input:focus{
    outline: none;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #A1A4BD;
    font-size: 1rem;
    opacity: 1; /* Firefox */
  }
  .create-ad {
    width: 14rem;
    height: 3rem;
    color: #fff;
    background: #3E53FF;
    border-radius: 50px;
    border: none;
  }
  .account {
    color: #000000;
    font-size: 1rem;
  }
}
