<div class="login d-flex">
  <div class="col-6">
     <div class="d-flex align-content-center justify-content-center">
       <div class="d-flex w-100 mb-5">
         <button class="tab-button w-50" (click)="activeTab('signIn')">Вход</button>
         <button class="tab-button w-50" (click)="activeTab('signUp')">Регистрация</button>
       </div>
     </div>
    <form class="form" *ngIf="tabName === 'login'">
      <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="E-mail" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Пароль">
      </div>
      <div class="w-100 d-flex flex-column align-items-end mt-5">
        <p class="forget-password">Забыли пароль?</p>
        <button type="submit" class="submit">Войти</button>
      </div>
    </form>
  </div>
  <div class="col-6">
    <img src="../../assets/illustration.svg" alt="">
  </div>
</div>
