<div class="footer">
  <div class="content d-flex flex-column justify-content-center">
    <div class="top d-flex justify-content-between align-items-center">
      <div class="d-flex">
        <p class="text-top m-0 pr-5">Помощь и обратная связь</p>
        <p class="text-top m-0 pr-5">Продажа бизнеса</p>
        <p class="text-top m-0">Каталог франшиз</p>
      </div>
      <div class="d-flex align-items-center">
        <p class="text-top m-0 pr-3">Личный кабинет</p>
        <button class="make-ad">Подать объявление</button>
      </div>
    </div>
    <div class="divider"></div>
    <div class="bottom d-flex justify-content-between align-items-center">
      <div class="d-flex">
        <p class="text-bottom m-0 pr-5">О продукте</p>
        <p class="text-bottom m-0 pr-5">Политика конфеденциальности</p>
      </div>
      <div class="d-flex align-items-center">
        <img class="mr-3" src="../../../assets/bxl-youtube.svg" alt="">
        <img class="mr-3" src="../../../assets/bxl-twitter.svg" alt="">
        <img class="mr-3" src="../../../assets/bxl-instagram.svg" alt="">
        <img src="../../../assets/bxl-facebook-square.svg" alt="">
      </div>
    </div>
  </div>
</div>
