<div class="similar-ads py-5">
  <div class="content">
    <h3 class="top-title">Похожие объявления</h3>
    <div class="ads d-flex mt-4">
      <div class="col-4 w-100 h-100">
        <div class="ad w-100 d-flex flex-column justify-content-between" (click)="openAd(2)">
          <div class="ad-image d-flex align-items-end p-3">
            <p class="price m-0 text-white">120 млн тг</p>
          </div>
          <h3 class="title mx-2 mt-2">Производственный комплекс, завод очень продаю в связи...</h3>
          <p class="subtitle mx-2">Производственный комплекс, завод очень продаю в связи...</p>
          <div class="description d-flex">
            <div class="left col-3">
              <div class="d-flex flex-column align-items-center my-2">
                <h3 class="value">12 млн/г.</h3>
                <p class="key m-0">Прибыль</p>
              </div>
            </div>
            <div class="right col-9">
              <div class="d-flex justify-content-between mx-4">
                <div class="d-flex flex-column align-items-center my-2">
                  <h3 class="value">100%</h3>
                  <p class="key m-0">Доля</p>
                </div>
                <div class="d-flex flex-column align-items-center my-2">
                  <h3 class="value">500</h3>
                  <p class="key m-0">Персонал</p>
                </div>
                <div class="d-flex flex-column align-items-center my-2">
                  <h3 class="value">12</h3>
                  <p class="key m-0">Лет</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="ad w-100 d-flex flex-column justify-content-between" (click)="openAd(2)">
          <div class="ad-image d-flex align-items-end p-3">
            <p class="price m-0 text-white">120 млн тг</p>
          </div>
          <h3 class="title mx-2 mt-2">Производственный комплекс, завод очень продаю в связи...</h3>
          <p class="subtitle mx-2">Производственный комплекс, завод очень продаю в связи...</p>
          <div class="description d-flex">
            <div class="left col-3">
              <div class="d-flex flex-column align-items-center my-2">
                <h3 class="value">12 млн/г.</h3>
                <p class="key m-0">Прибыль</p>
              </div>
            </div>
            <div class="right col-9">
              <div class="d-flex justify-content-between mx-4">
                <div class="d-flex flex-column align-items-center my-2">
                  <h3 class="value">100%</h3>
                  <p class="key m-0">Доля</p>
                </div>
                <div class="d-flex flex-column align-items-center my-2">
                  <h3 class="value">500</h3>
                  <p class="key m-0">Персонал</p>
                </div>
                <div class="d-flex flex-column align-items-center my-2">
                  <h3 class="value">12</h3>
                  <p class="key m-0">Лет</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 pr-0">
        <div class="ad w-100 d-flex flex-column justify-content-between" (click)="openAd(2)">
          <div class="ad-image d-flex align-items-end p-3">
            <p class="price m-0 text-white">120 млн тг</p>
          </div>
          <h3 class="title mx-2 mt-2">Производственный комплекс, завод очень продаю в связи...</h3>
          <p class="subtitle mx-2">Производственный комплекс, завод очень продаю в связи...</p>
          <div class="description d-flex">
            <div class="left col-3">
              <div class="d-flex flex-column align-items-center my-2">
                <h3 class="value">12 млн/г.</h3>
                <p class="key m-0">Прибыль</p>
              </div>
            </div>
            <div class="right col-9">
              <div class="d-flex justify-content-between mx-4">
                <div class="d-flex flex-column align-items-center my-2">
                  <h3 class="value">100%</h3>
                  <p class="key m-0">Доля</p>
                </div>
                <div class="d-flex flex-column align-items-center my-2">
                  <h3 class="value">500</h3>
                  <p class="key m-0">Персонал</p>
                </div>
                <div class="d-flex flex-column align-items-center my-2">
                  <h3 class="value">12</h3>
                  <p class="key m-0">Лет</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
