.personal-account {
  height: 65vh;
  margin-left: 4rem;
  margin-right: 4rem;
  .name {
    font-style: normal;
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 27px;

    color: #000000;
  }
  .contacts {
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 21px;
    color: #696E95;
  }
  .tabs {
    font-style: normal;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 24px;
    color: #696E95;
  }
  .tabs:hover {
    text-decoration: none;
  }
  .content {
    width: 100%;
    height: 50vh;
  }
}
